<h1>
  <img src="logo.png" alt="FlowNote logo">
  <span>FlowNote</span>
</h1>

<div>
  <input type="text" [(ngModel)]="tituloTarefa" placeholder="Digite o título...">
  <button class="btn-principal" (click)="salvar()">{{ tarefaParaEditar ? 'Salvar' : 'Adicionar' }}</button>
  <button class="btn-cancelar" *ngIf="tarefaParaEditar" (click)="cancelarEdicao()">Cancelar</button>
</div>

<div>
  <button class="btn-filtro" (click)="filtrar('TODAS')">Todas</button>
  <button class="btn-filtro" (click)="filtrar('PENDENTES')">Pendentes</button>
  <button class="btn-filtro" (click)="filtrar('CONCLUIDAS')">Concluídas</button>
</div>
<ul [@listAnimation]="tarefasFiltradas.length">
  <li *ngFor="let tarefa of tarefasFiltradas">
    <input type="checkbox" [checked]="tarefa.status === 2" (change)="toggleStatus(tarefa)">

    <span [class.concluida]="tarefa.status === 2">{{ tarefa.titulo }}</span>

    <div class="actions">
      <button (click)="iniciarEdicao(tarefa)">
        <img src="edit-icon.svg" alt="Editar Tarefa">
      </button>
      <button (click)="deletarTarefa(tarefa.id)">
        <img src="delete-icon.svg" alt="Deletar Tarefa">
      </button>
    </div>

  </li>
</ul>
<!-- o paragrafo p Nenhuma tarefa encontrada. só irá aparecer na tela se a lista estiver vazia -->
<p *ngIf="!tarefasFiltradas || tarefasFiltradas.length === 0"> Nenhuma tarefa encontrada.
</p>