<h1>Minha Lista de Tarefas</h1>

<div>
  <input type="text" [(ngModel)]="tituloTarefa" placeholder="Digite o título...">
  <button (click)="salvar()">{{ tarefaParaEditar ? 'Salvar' : 'Adicionar' }}</button>
  <button *ngIf="tarefaParaEditar" (click)="cancelarEdicao()">Cancelar</button>
</div>

<div>
  <button (click)="filtrar('TODAS')">Todas</button>
  <button (click)="filtrar('PENDENTES')">Pendentes</button>
  <button (click)="filtrar('CONCLUIDAS')">Concluídas</button>
</div>
<ul>
  <li *ngFor="let tarefa of tarefasFiltradas">
    <input type="checkbox" [checked]="tarefa.status === 2" 
    (change)="toggleStatus(tarefa)">

    <span [class.concluida]="tarefa.status === 2">{{ tarefa.titulo }}</span>

    <div>
      <button (click)="iniciarEdicao(tarefa)">✏️</button>
      <button (click)="deletarTarefa(tarefa.id)">🗑️</button>
    </div>
  </li>
</ul>
<!-- O paragrafo p Nenhuma tarefa encontrada. só irá aparecer na tela se a lista estiver vazia -->
<p *ngIf="!tarefasFiltradas || tarefasFiltradas.length === 0"> Nenhuma tarefa encontrada.
</p>