<h1>Minha Lista de Tarefas</h1>

<div>
  <input type="text" [(ngModel)]="tituloTarefa" placeholder="Digite o título...">
  <button (click)="salvar()">{{ tarefaParaEditar ? 'Salvar' : 'Adicionar' }}</button>
  <button *ngIf="tarefaParaEditar" (click)="cancelarEdicao()">Cancelar</button>
</div>

<ul>
  <li *ngFor="let tarefa of tarefas"> <span>{{ tarefa.titulo }}</span> <!-- a diretiva *ngFor funciona como um laço de repetição p/ o HTML.
    ela percorre o array tarefas (vem do app.ts) e p cada tarefa na lista ela cria uma cópia <li>-->
    <div>
      <button (click)="iniciarEdicao(tarefa)">✏️</button>
      <button (click)="deletarTarefa(tarefa.id)">🗑️</button>
    </div>
  </li>
</ul>

<p *ngIf="!tarefas || tarefas.length === 0">  Nenhuma tarefa encontrada. <!-- O paragrafo p Nenhuma tarefa encontrada. só irá aparecer na tela se a lista estiver vazia -->
</p>