/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f2f5; /* Fundo cinza claro para a página toda */
  margin: 0;
  padding: 20px;
}